.user {
  height: 120px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #5264ae;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 90px;
  height: 90px;
}

a{
  cursor: pointer;
}

@media (min-width: 768px) {
  .user {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .icon {
    width: 130px;
    height: auto;
  }
}
